/* natural box model */
html {
    box-sizing: border-box;

}
*, *:before, *:after {
    box-sizing: border-box;
}

/* Browser Upgrade Prompt */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* hides an element, but not from screen readers */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* no break */
.nobr {
    white-space: nowrap;
}

/*
    CONCEPTS
    - Adding Google Web Fonts
    - Adding a background
    - Selecting a piece of an element with <span>
    - Transparency using rgba()
    - Box model css
    - Text-shadow
    - first-of-type
    - position:absolute paired with position:relative (astronaut, quote)
    - psuedo elements ::before and ::after
*/

/*
    STRUCTURE
*/
body {
  width: 100%;
  background: #DCDCDC url('../images/mfdoom6.png') no-repeat center center fixed;

  background-attachment: scroll;
  background-size: cover;
  background-size: 1350px 1350px;

}
.layer {
    background: url('../images/doommini.png');
    position: fixed;
    background-repeat: no-repeat;
    top: 400px;
    left: 30px;
    width: 100%;
    height: 100%;
}


/*
    TYPOGRAPHY
*/

p {
  font-family: 'Share Tech Mono',monospace, Helvetica, Arial, sans-serif;
  font-size: 30px;
  color: #000000;
}


/*
    QUOTE
*/

.quotation {
  position: sticky;
  width: 1000px;
  margin: 110px auto 1000px;
  margin-left: 0px;
  padding: 0px 40px;


  text-shadow: .3px .3px .3px #ffffff;



}

.quote {
  border-top: 5px dotted #FF5D00;
  padding-top: 0.5em;
  position: relative;
  width: 390px;
}

p:first-of-type::before {
  position: absolute;
  content: open-quote;
  top: -20px;
  left: -40px;
  font-size: 60px;
  font-family: Georgia, serif;
  color: #000000;
  text-shadow: .5px .5px .5px .5px #ffffff;
}


.mfdoom {
  color: #FF5D00;
}

.author {
  font-size: 20px;
  text-align: left;
}
