/* natural box model */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/*
    UTILITIES
*/

/* hides an element, but not from screen readers */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* no break */
.nobr {
    white-space: nowrap;
}

/* clearfix - removes floats and returns to standard 'stacking block' flow */
.group::after {
  content: "";
  display: table;
  clear: both;
}

/*
    STRUCTURE
    https://www.w3schools.com/colors/colors_names.asp
    https://material.io/guidelines/style/color.html#color-color-palette
*/
body {
  /* background-color: #EFEBE9; */
  background-color: #ECF5F0;
}
.container {
  width: 900px;
  margin: 35px auto; /* centers content */
  border: 1px solid black;
  padding: 50px;
  background-color: white;
}

img {
    /* tells image to stay within parent container */
    width: 100%;
    display: block;
}
/*
    TYPOGRAPHY
    https://www.thoughtco.com/web-safe-font-stacks-3467429
*/
h1, h2, h3, h4, h5, h6 {
  font-family: 'Futura';
  line-height: 1.3em;
}

p, td, li, small {
  font-family: 'Futura';
  line-height: 1.3em;
  font-size: 1em;
}

figure {
  font-family: 'Futura';
  line-height: 1.3em;
  font-size: .8em;
}

/*
    IMAGES
*/
.left-align {
float: left;
width: 38%;
}

.right-align {
float: right;
width: 38%
}

/*
    LINKS
*/
a:link, a:visited {
  color:#052669;
  text-decoration:none;
  border-bottom: 2px dotted #052669;
}

a:hover, a:active {
  color: #052669;
  border-bottom:none;
}


/*
    TABLES
*/
h1 {
  font-size: 48px;

}

.date {
  font-size: 14px;
}

h2{
  font-size: 36px;
  border-top:3px dotted #D7CCC8;
  padding-top: 0.5em;
  margin: 1.5em 0 0.15em;
}

.highlight {
  background-color: #F5F5F5;
  padding: 0.5em 1.0em 1.0em;
}

h3{
  color: #5D4037;
  text-transform: uppercase;
  margin: 1.5 em 0;
}

.recipe-step {
  font-weight: bold;
  font-style: italic;
}


h4{
  font-size: 18px;
}
.boxed {
  border: 2px solid green ;
}
